extends ../includes/dashbar
append content
	//- Since this is the index for all dashboard-style pages, relevant info has been stored here as comments
	//- content goes here, dashbar.pug should have all relevant headers, styles and scripts so just put code in here
		Inheritance works like this:
			{dashboard-element-name}.pug <- dashbar.pug <- [header.pug, bodyscript.pug, dashscript.pug]
		This is also all contained inside a dash-content class div
	//- Define ID names here to change active tab style, these IDs are defined in dashbar.pug
	script.
		var topname = "linkDash-top";
		var sidename = "linkDash-side";
	.container.mb-5.mt-3
		.row.landing-head
			.col-md-4
				h1.text-center.mb-3 Bienvenido a NVIO
				img.img-fluid.mx-auto.d-none.d-md-block(src='/static/logo/placeholder-logo.png' style='max-height: 200px;')
			.col-md-4
				.card.m-auto
					.card-body
						h3.card-title.text-center Recuerda:
						.card-text - Tus paquetes no pueden exceder las dimensiones de 50cm x 50cm x 50cm y el peso de 10kg.
						.card-text - Los envíos serán entregados dentro de un plazo máximo de 48 horas desde que se registran en nuestra plataforma.
						.card-text
			.col-md-4
				hr.d-md-none
				h2.text-center.mb-3.mt-3 Costos de envío
				table.table.table-bordered.text-center#shippingPrice
					thead
						tr
							th(scope='col') Origen
							th(scope='col') Destino
							th(scope='col') Costo
					tbody
						tr
							th(scope='row') Origen
							td Destino
							td Costo
						tr
							th
							td Destino
							td Costo
						tr
							th
							td Destino
							td Costo
		.row.landing-head
			.col
				hr.d-md-none
				h2.text-center.mb-3.mt-3 Tus pedidos recientes
				table.table.table-bordered.text-center#orderSummary
					thead.thead-dark
						tr
							th(scope='col') ID Pedido
							th(scope='col') Destino
							th(scope='col') Estado
							th(scope='col') Costo
					tbody
						each ORD in orders
							tr
								td #{ORD.SK.S.replace("ORDER#","")}
								if ORD.toApart.S != ""
									td #{ORD.toAddress.M.street.S} #{ORD.toAddress.M.number.N}, #{ORD.toApart.S}
								else
									td #{ORD.toAddress.M.street.S} #{ORD.toAddress.M.number.N}
								td #{ORD.status.N}
								td DUMMY COST
