extends ../includes/dashbar
append content
	script.
		var topname = "linkPerfil-top";
		var sidename = "linkPerfil-side";
	.container(style='margin-top: 40px;')
		a.grey-link.float-right(href='/dashboard/editar-perfil' style='font-size: 25px;')
			| Editar Perfil 
			i.fa.fa-edit(style='font-size: 30px;')
		img.rounded.text-left(src=logo alt='')
		//- Add values in the proper attribute through a query to the DB, maybe store them in cache
		form#profileInfo(style='margin-top: 30px;')
			.form-group
				label Nombre Empresa
				input#companyName.form-control(type='text' readonly value=companyName)
			.form-group
				label RUT Empresa
				input#companyRut.form-control(type='text' readonly value=companyRut)
			.form-group
				label Giro Empresa
				input#companyTurn.form-control(type='text' readonly value=companyTurn)
				small Tu Giro de Empresa según el SII
			.form-group
				label Nombre Representante
				input#companyRepresentative.form-control(type='text' readonly value=companyRepresentative)
			.form-group
				label Teléfono de Contacto
				.input-group
					.input-group-prepend
						.input-group-text +56
					input#contactNumber.form-control(type='text' readonly value=companyContactNumber)
			.form-group
				label Email de Contacto

				input#email.form-control(type='text' readonly value=companyEmail)
			.form-group
				label Dirección de despacho (remitente)
				input#address.form-control(type='text' readonly value=address)
			.form-group
				label Casa, Condominio, Departamento
				input#addressApart.form-control(type='text' readonly value=addressApart)
