extends ../includes/dashbar
append content
	script.
		var topname = "linkHistPedidos-top";
		var sidename = "linkHistPedidos-side";
	script(src='/static/js/copy-on-click.js')
	h1.landing-head.text-center
		| #{title}
	small(id = 'SMALLMAN').hidden  
	table.table.table-bordered.table-striped
		thead
			tr
				th(scope='col') Tracking #
				th(scope='col') Nombre Pedido
				th(scope='col') Descripción
				th(scope='col') Despacho hacia
				th(scope='col') Comuna
				th(scope='col') Fecha de creación
				th(scope='col') Status
				th(scope='col') Fecha de delivery
				th(scope='col') Costo NVIO
		tbody
			each ORD, index in orders
				tr
					th(scope='row')
						a(onclick='copyAsLink(this)').btn #{companyId + ORD.SK.S.replace("ORDER#","")}
							span(id= 'BDG_' + index).badge.badge-pill.badge-success.hidden Enlace Copiado!
					td #{ORD.orderName.S}
					td #{ORD.orderDesc.S}
					td #{ORD.toAddress.M.street.S} #{ORD.toAddress.M.number.N}
					td #{ORD.toAddress.M.locality.S}
					td #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()}
					td #{ORD.status.N}
					td #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()}
					td #{ORD.orderValue.N}
