extends ../includes/dashbar
append content
	script.
		var topname = "linkPerfil-top";
		var sidename = "linkPerfil-side";
	.container(style='margin-top: 40px;')
		a(href='/dashboard/editar-perfil' style='font-size: 30px;')
			i.fa.fa-edit.float-right
		img.rounded.text-left(src='https://via.placeholder.com/250' alt='')
		//- Add values in the proper attribute through a query to the DB, maybe store them in cache
		form#profileInfo(style='margin-top: 30px;')
			.form-group
				label Nombre Empresa
				input#companyName.form-control(type='text' readonly value=companyName)
			.form-group
				label RUT Empresa
				input#companyRut.form-control(type='text' readonly value=companyRut)
			.form-group
				label Giro Empresa
				input#companyTurn.form-control(type='text' readonly value=companyTurn)
				small Tu Giro de Empresa según el SII
			.form-group
				label Nombre Representante
				input#companyRepresentative.form-control(type='text' readonly value=companyRepresentative)
			.form-group
				label Teléfono de Contacto
				input#contactNumber.form-control(type='text' readonly value=contactNumber)
			.form-group
				label Email de Contacto
				input#email.form-control(type='text' readonly value=companyEmail)
