extends ../includes/dashbar
append content
	script.
		var topname = "linkPerfil-top";
		var sidename = "linkPerfil-side";
	.container.profile-container
		a#profileEdit.btn.btn-outline-secondary(href='/dashboard/editar-perfil')
			i.fa.fa-edit(style='font-size: 30px;')
			|  Editar Perfil 
		img#profilePicture.rounded.mx-auto.d-block.img-fluid(src=logo alt='Tu Logo')
		form#profileInfo(style='margin-top: 30px;')
			.form-group
				label Nombre Legal
				input#legalName.form-control(type='text' readonly value=legalName)
			.form-group
				label Nombre de fantasía
				input#companyName.form-control(type='text' readonly value=companyName)
			.form-group
				label RUT Empresa
				input#companyRut.form-control(type='text' readonly value=companyRut)
			.form-group
				label Giro Empresa
				input#companyTurn.form-control(type='text' readonly value=companyTurn)
				small Tu Giro de Empresa según el SII
			.form-group
				label Nombre Representante
				input#companyRepresentative.form-control(type='text' readonly value=companyRepresentative)
			.form-group
				label Teléfono de Contacto
				.input-group
					.input-group-prepend
						.input-group-text +56
					input#contactNumber.form-control(type='text' readonly value=companyContactNumber)
			.form-group
				label Email de Contacto

				input#email.form-control(type='text' readonly value=companyEmail)
			.form-group
				label Dirección Comercial
				input#address.form-control(type='text' readonly value=address)
			.form-group#comuna-group
				label(for='comuna') Comuna
				select#comuna.form-control(readonly disabled name='comuna')
					option(value=comuna selected) #{comuna}
			.form-group
				label Casa, Condominio o Departamento
				input#addressApart.form-control(type='text' readonly value=addressApart)
