extends ../includes/dashbar
append dash-postHead
	link(rel='stylesheet' href='//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css')
append content
	script.
		var topname = "linkHistPedidos-top";
		var sidename = "linkHistPedidos-side";
	h1.landing-head.text-center
		| #{title}
	h6.bg-info.text-center.text-white.mx-5 Haz click en el número de tracking para copiar su enlace de rastreo
	form.hidden#cancelOrder(action="/dashboard/cancelar-envio/" method="POST" enctype='multipart/form-data')
	.container.mb-5.mt-3
		table.display.table-responsive.text-center#orderHistory
			thead
				tr
					th(scope='col') Tracking #
					th(scope='col') Nombre Pedido
					th(scope='col') Descripción
					th(scope='col') Despacho hacia
					th(scope='col') Comuna
					th(scope='col') Fecha de creación
					th(scope='col') Status
					th(scope='col') Fecha de entrega
					th(scope='col') Costo NVIO
					th(scope='col') Ver Detalle
			tbody
				each ORD, index in orders
					tr
						//- Look into changing this later down the line (https://en.wikipedia.org/wiki/Unobtrusive_JavaScript)
						th.text-white.bg-info(scope='row' onclick='copyAsLink(this);copySnackbar();' id='TableHead_' + index)  #{companyId + ORD.SK.S.replace("ORDER#","")}
						td #{ORD.orderName.S}
						td #{ORD.orderDesc.S}
						td #{ORD.toAddress.M.street.S} #{ORD.toAddress.M.number.N}
						td #{ORD.toAddress.M.locality.S}
						td
							if new Date(parseInt(ORD.createdAt.N)).getDate() < 10
								| 0#{new Date(parseInt(ORD.createdAt.N)).getDate()}
							else
								| #{new Date(parseInt(ORD.createdAt.N)).getDate()}
							if 	new Date(parseInt(ORD.createdAt.N)).getMonth()+1 < 10
								| /0#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}
							else
								|/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}
							| /#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:
							if new Date(parseInt(ORD.createdAt.N)).getMinutes() > 10
								| #{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
							else
								| 0#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
						td #{ORD.status.N}
						- var notDelivered = (ORD.status.N == 0) ? true : false;
						if notDelivered
							td N/A
						else
							if new Date(parseInt(ORD.createdAt.N)).getMinutes() < 10
								td #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:0#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
							else
								td #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
						td $#{ORD.shippingCost.N}
						td
							button.btn.btn-outline-info(id='InfoButton_' + index data-toggle='modal' data-target='#InfoModal_' + index) Detalle
					.modal.fade(tabindex='-1' role='dialog' aria-labelledby='infoModal_' + + index aria-hidden='true' id='InfoModal_' + index)
						.modal-dialog(role='document')
							.modal-content
								.modal-header
									h5.modal-title(id='InfoModalLabel_' + index) Pedido ##{companyId + ORD.SK.S.replace("ORDER#","")}
									button.close(type='button' data-dismiss='modal' aria-label='Close')
										span(aria-hidden='true') ×
								.modal-body
									p Tracking ##{companyId + ORD.SK.S.replace("ORDER#","")}
									p Nombre Pedido: #{ORD.orderName.S}
									p Descripción: #{ORD.orderDesc.S}
									p Dirección Remitente: #{ORD.fromAddress.M.street.S} #{ORD.fromAddress.M.number.N}
										if ORD.fromApart.S != ""
											|, #{ORD.fromApart.S}
										|, #{ORD.fromAddress.M.locality.S}
									p Dirección Destinatario: #{ORD.toAddress.M.street.S} #{ORD.toAddress.M.number.N}
										if ORD.toApart.S != ""
											|, #{ORD.toApart.S}
										|, #{ORD.toAddress.M.locality.S}
									p Teléfono Destinatario: +56 #{ORD.contactDest.S}
									if new Date(parseInt(ORD.createdAt.N)).getMinutes() < 10
										p Fecha Creación: #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:0#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
									else
										p Fecha Creación: #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
									p Status Code: #{ORD.status.N}
									if notDelivered
										p Aún no entregado
									else
										if new Date(parseInt(ORD.createdAt.N)).getMinutes() < 10
											p Fecha Entrega (NOT IMPLEMENTED): #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:0#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
										else
											p Fecha Entrega (NOT IMPLEMENTED): #{new Date(parseInt(ORD.createdAt.N)).getDate()}/#{new Date(parseInt(ORD.createdAt.N)).getMonth() + 1}/#{new Date(parseInt(ORD.createdAt.N)).getFullYear()} #{new Date(parseInt(ORD.createdAt.N)).getHours()}:#{new Date(parseInt(ORD.createdAt.N)).getMinutes()}
									p Valor de la orden: $#{ORD.orderValue.N}
									p Costo de envío: $#{ORD.shippingCost.N}
									p Nombre del repartidor: Aún no asignado
									if ORD.comment.S != ""
										p Información Adicional: #{ORD.comment.S}
								.modal-footer
									button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar
									input.btn.btn-success(type='button' value='Ver Tracking' onclick="location.href='/track/" + companyId + ORD.SK.S.replace("ORDER#","") + "';")
									if ORD.status.N == 0
											button.btn.btn-danger(type='submit' name='order' id='order' value=ORD.SK.S form='cancelOrder') Cancelar Orden
											
	#snackbar Enlace copiado!
append dash-viewscript
	script(src='/static/js/copy-on-click.js')
	//- Datatables scripts
	script(src='//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js')
	//- Datatable declaration
	script(src='/static/js/declare-order-history.js')
